.card{
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 36px;
}
.title_card{
    font-weight: 400;
    font-family: yellowtail;
}
.head_card{
    font-family: roboto;
    font-weight: 800;
}
.section_2{
    margin-bottom: 100px;
}