*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.proj_p1_sec_1{
    padding: 20px 0px;
}
.proj_p1_sec_1 .p1_bg{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.proj_p1_sec_1 .box_main{
    background-color: #FFFFFF;
    width: 80%;
    height: 300px;
    margin-left: 130px;
    margin-top: -100px;
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 30px;
}
.proj_p1_sec_1 .heading{
    font-size: 60px;
}
.proj_p1_sec_1 .dummy_text{
    font-family: Open Sans;
    font-weight: 400;
    color: #525C60;
    width: 95%;
}
.proj_p1_sec_1 .right_main{
    padding: 30px 0px;
}

/* ***************sec-2*********** */

.proj_p1_sec_2{
    padding: 50px 0px;
}
.proj_p1_sec_2 .dummy_text{
    color: #525C60;
    font-weight: 400;
    font-family: Open Sans;
    width: 80%;
}
.proj_p1_sec_2 .img1{
    border-radius: 20px;
}