* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.shop_p1_sec_1 {
    padding: 20px 0px;
}

.shop_p1_sec_1 .bg_img {
    background-image: url('../../../images/shop_singel_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

/* ************sec-2************* */

.shop_p1_sec_2 {
    padding: 100px 0px;
}
.shop_p1_sec_2 .box{
    width: 400px;
    height: 400px;
    background-color: #DEDDDD;
    border-radius: 30px;
}
.shop_p1_sec_2 .img1{
    border-radius: 30px;
}
.shop_p1_sec_2 .dummy_text{
    color: #525C60;
    font-family: open Sans;
    font-weight: 400;
    width: 74%;
}
.shop_p1_sec_2 .bttn{
    border: 2px solid #274C5B;
    padding: 15px 40px 15px 40px;
    border-radius: 15px;
}
.shop_p1_sec_2 .left_main1{
    padding: 70px 0px;
}
.shop_p1_sec_2 .dummy_text1{
    color: #525C60;
    font-weight: 400;
    font-family: Open Sans;
    width: 70%;
    margin: 0 auto;
}
.shop_p1_sec_2 .button_main{
    margin-top: 70px;
}

/* ************sec-3************** */

.shop_p1_sec_3{
    padding: 40px 0px;
}