.section_5 .counter_main{
    border: 1px solid green;
    width: 150px;
    height: 150px;
    background-color: #F1F1F1;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section_5 .Orgaanic{
    text-align: center;
    font-weight: 600;
}
.section_5 .main_row{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 110px;
}
.section_5 .main_counter{

    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}